@model TraversalCoreProject.Areas.Member.Models.UserEditViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Profil Düzenleme Sayfası</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        @Html.LabelFor(m => m.name, "Adınız")
        @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.surname, "Soyadınız")
        @Html.TextBoxFor(m => m.surname, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.mail, "Mail Adresiniz")
        @Html.TextBoxFor(m => m.mail, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.password, "Şifreniz")
        @Html.PasswordFor(m => m.password, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.confirmpassword, "Şifre Tekrar")
        @Html.PasswordFor(m => m.confirmpassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.phonenumber, "Telefon Numarası")
        @Html.TextBoxFor(m => m.phonenumber, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Resim Seçin</label>
        <input type="file" asp-for="Image" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Bilgileri Güncelle</button>
</form>
